.po-words {
  width: 960px;
}

.cat-po {
  left: 0;
  bottom: 60px;
}

.cat-box {
  min-width: 800px;
  right: 40px;
  bottom: 20px;
}

.plant2 {
  bottom: 40%;
  right: 0;
}

.plates {
  margin-left: 60px;
}

.process {
}

.direction {
  width: 80%;
}

.outer {
  flex: 1;
}

.inner {
  flex: 2;
}
