@import "maps";

.brand {
  background-color: map-get($project-colors, white);
  color: map-get($project-colors, green-4);
  box-shadow: 0px 3px 30px #00000029;
  height: 60px;
  border-radius: 45px;
  transition: 0.25s;
}
