.info {
  max-width: 1000px;
  width: 55%;
}

.cat-po {
  width: 20%;
  left: 40px;
  bottom: 60px;
}

.cat-box {
  width: calc(600px + 15vw);
  min-width: 800px;
  right: 40px;
  bottom: 20px;
}

.plant2{
  width: 20%;
  bottom: 40%;
  right: 0;
}
