.content {
  height: calc(100vh - 140.2px);
}

.box-container {
  max-width: 1200px;
}

.button {
  right: 25px;
  bottom: -30px;
}

.plant1-container {
  flex: 5;
}

.cat_all-container {
  flex: 30;
}

.cat-all {
  bottom: 0px;
}

.plant2-container {
  flex: 6;
}
