.container {
  height: 100vh;
  background-image: url("/assets/picture/jpg/index.jpg");
  background-position: center;
  background-size: cover;
}

.top {
  flex: 125;
}

.bottom {
  flex: 91;
}

.cat-all {
  top: calc(50% - 60px);
  width: 75%;
  max-width: 1338px;
}

.left-appliance {
  bottom: -150px;
}

.plant-1 {
  top: calc(0% - 200px);
  width: 20%;
  height: auto;
}

.cat-springboard {
  top: calc(0% - 280px);
  width: 37.5%;
  height: auto;
  transform: translateY(-30px);
}

.right-appliance {
  bottom: -150px;
}

.cat-basket {
  width: 25%;
  transform: translateY(-30px);
  align-self: flex-start;
}

.plant-2 {
  width: 27.5%;
}

.title-icon {
  width: 60%;
  min-width: 640px;
  max-width: 960px;
  aspect-ratio: 16 / 5;
  height: 100%;
}
